:root{
    --green:#188700;
    --green-hover:#136A00;
    --color-text-one:#000000;
    --colot-text-two:#ffffff;
    --color-text-three:#757575;
    --color-shadow:#00000025;
}

.profile-area{
    font-family: Roboco,Inter;
    padding: 10px;
}

.dashbord-top{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.dashbord-right{
    display: flex;
    gap: 10px;
    padding-right: 2.0rem;
}

.mini-user{
    display: flex;
    gap: 10px;
}

.size{
    padding: 40px;
}

.conteiner-user{
    display: flex;
    border:solid var(--green);
    border-radius: 7px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.conteiner-user-left{
    display: flex;
    gap: 10px;
}

.color{
    color:var(--color-text-three)
}

.conteiner-user-right{
    text-align: center;
    
}


.circle{
    border: solid var(--green) 6px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.lv{
    font-weight: 700;
    font-size: larger;
}

.exp{
    font-size: small;
    color: var(--color-text-three);
}

.conteiner-stats{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding-top: 20px;
}

.conteiner-stats-fill{
    box-shadow: 0 6px 6px var(--color-shadow);
    border-radius: 7px;
    padding: 30px;   
    text-align: start;
}

.articles-and-achievements{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 20px;
    gap: 10px;
}

.conteiner-articles{
    border-radius: 7px;
    box-shadow: 0 6px 6px var(--color-shadow);
    padding: 20px;
}

.heading-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.public-article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid var(--green);
    border-radius: 7px;
    padding: 10px;
    margin-top:10px;
}

.public-article-p-1{
    font-weight: 600;
    padding-bottom: 5px;
}
.public-article-p-2{
    font-size: small;
    color: var(--color-text-three);
}

.star{
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner-articles button{
    background-color: var(--colot-text-two);
    border: none;
    color: var(--green);
    font-family: Roboco,Inter;
    font-weight: 600;
    font-size: medium;
}

.conteiner-achievements{
    border-radius: 7px;
    box-shadow: 0 6px 6px var(--color-shadow);
    padding: 20px;
    
}

.achievements{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding-top: 10px;
}

.achievements-stile{
    border:solid var(--green);
    padding: 20px;
    border-radius: 7px;
}

.achievements-stile p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteiner-recent-actions{
    margin-top: 20px;
    border-radius: 7px;
    box-shadow: 0 6px 6px var(--color-shadow);
    padding: 20px;
    
}

.recent-actions{
    display: flex;
    justify-content: space-between;
    border: solid var(--green);
    border-radius: 7px;
    align-items: center;
    margin-top: 20px;
}

.recent-actions-option{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.actions{
    font-weight: 600;
    padding-bottom: 5px;
}

.time{
    color: var(--color-text-three);
}

.xp{
    color: var(--green);
    font-weight: 600;
    padding-right: 10px;
}

